body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#map {
    height: 100vh;
    width: 100vw;
}

.message {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}